.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 3rem;

  img {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.6);
  }

  
}
